h2#imPgTitle {float: left; margin-left: 6px; margin-right: 6px; width: 760px;}
#imCell_1 { display: block; position: relative; overflow: hidden; width: 766px; min-height: 421px; border-top: 3px solid transparent; border-bottom: 3px solid transparent; border-left: 3px solid transparent; border-right: 3px solid transparent;}
#imCellStyle_1 { position: relative; width: 760px; min-height: 415px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_1 { position: absolute; top: 0; bottom: 0; left: 0; right: 0; background-color: transparent;}
#imTableObject_1 { line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTableObject_1 a { color: inherit; }
#imTableObject_1 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTableObject_1 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTableObject_1 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTableObject_1 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTableObject_1 p { margin: 0; padding: 0; }
#imTableObject_1 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTableObject_1 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTableObject_1 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTableObject_1 .imUl { text-decoration: underline; }
#imTableObject_1 .ff0 { font-family: "Tahoma"; }
#imTableObject_1 .ff1 { font-family: "Tahoma"; }
#imTableObject_1 .cf1 { color: #000000; }
#imTableObject_1 .cf2 { color: #FFFFFF; }
#imTableObject_1 .cf3 { color: #000000; }
#imTableObject_1 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTableObject_1 .fs18 { vertical-align: baseline; font-size: 9pt; line-height: 19px;}
#imTableObject_1 .fs12 { vertical-align: baseline; font-size: 6pt; line-height: 15px; *line-height: 1.9; }
#imTableObject_1 .cb1 { background-color: #000000; }
#imTableObject_1 .cb2 { background-color: transparent; }
#imTableObject_1 .cb3 { background-color: #000000; }
#imTableObject_1 table.imB0 { width: 636px; text-align: left; }
#imTableObject_1 table.imB0 td.imVt { vertical-align: top; }
#imTableObject_1 table.imB0 td.imVc { vertical-align: middle; }
#imTableObject_1 table.imB0 td.imVb { vertical-align: bottom; }
#imTableObject_1 table td.imW252 { width: 252px; }
#imTableObject_1 table td.imW384 { width: 384px; }
#imTableObject_1 table td.imW636 { width: 636px; }
